<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

    <% include partials/header %>

    <div class="container">
        <section>
            <h1>Request Permissions</h1>
            <p>Hi <b id="username"></b>!</p>
            <p>Client application <b><%= client.name %></b> is requesting access to your account.</p>
            <p>Permissions requested:</p>
            <ul id="permissionList"></ul>
            <p>Redirect URI: <b><%= redirectURI %></b></p>
            <p>Do you approve?</p>


            <form action="/oauth/authorize/decision" method="post">
                <input name="transaction_id" type="hidden" value="<%= transactionId %>">
                <div>
                    <input type="submit" value="Allow" id="allow">
                    <input type="submit" value="Deny" name="cancel" id="deny">
                </div>
                <span id="test"></span>
            </form>

            <div id="firstName" style="display:none"><%= user.firstName %></div>
            <div id="lastName" style="display:none"><%= user.lastName %></div>
            <div id="email" style="display:none"><%= user.email %></div>
            <div id="permissions" style="display:none"><%= scopes %></div>

        </section>
    </div>

    <script>
      // explicitly written in ES5 javascript because I'm not sure what sort of inbuilt browsers are showing this dialog

      var firstName = document.getElementById('firstName').innerHTML;
      var lastName = document.getElementById('lastName').innerHTML;
      var email = document.getElementById('email').innerHTML;
      var permissions = document.getElementById('permissions').innerHTML;

      var username = firstName ? firstName + (lastName ? ' ' + lastName : '') : email;
      var permissionArray = permissions.split(",");

      var permissionMap = {
        user_information:     'Access to your account details like name, email address, settings and preferences.', // get /api/users/me
        user_id:              'Access to your user ID but not to your personal information.',  // get /api/users/userId
        user_location:        "Access to your location. This includes the room you're in and/or which Sphere you're in as well as the type of phone you are using.",
        switch_stone:         'Access to switch your Crownstones.',  // put /api/Stones/:id/setSwitchStateRemotely
        power_consumption:    'Access to the power consumption of your Crownstones.',  // get /api/Stones/:id/currentEnergyUsage
        stone_information:    'Access to information about your Crownstones.',  // get /api/Stones
        sphere_information:   'Access to information on your Spheres.',  // get /api/users/:id/spheres
        location_information: 'Access to information on your Rooms.',  // get /api/Locations/all

        all: 'Full read/write/update/delete permissions for everything tied to your account.',
      };

      var permissionList = document.getElementById('permissionList');
      for (var i = 0; i < permissionArray.length; i++) {
        var listElement = document.createElement('li');
        listElement.innerHTML = permissionMap[permissionArray[i]];
        permissionList.appendChild(listElement);
      }

      document.getElementById("username").innerHTML = username;

    </script>
</body>
</html>
